<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WKFlowLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18195FF61C44F2A100A8B6F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1819600F1C44F2A200A8B6F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1819601A1C44F2A200A8B6F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
